body{
    margin-bottom: 20px;

}

.jumbotron{
    background-color: lightgray;
    text-align: center;
}

#train-table{
    background-color: grey;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
    background-color: aliceblue;
}

.table-heading{
    font-size: larger;
  }
  
  #add-train-card{
    background-color: orangered;
    margin-left: 30px;
  }
  
  #add-train{
    background-color: lightgrey;
    border: none;
  }
  
  #add-train:hover{
    background-color: lightgrey;
  }
  
  